form.card{
    min-width: 200px;
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    box-shadow: -2px 5px 15px 0px #000000;
}

form.card h1{
    font-size: 25pt;
}

form.card label {
    align-self: start;
}

form.card input:not([type="Submit"]){
    margin: 7px 0;
    padding: 5px;
}

form.card span{
    border: solid gray 1px;
    border-radius: 3px;
    margin: 7px 0;
}

form.card a {
    text-decoration: none;
    color: rgb(61, 147, 236);
    margin-top: 7px;
}